<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="flaskdemo_webconfig" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\Users\viaml01\AppData\Local\Programs\Python\Python310\python.exe|C:\Users\viaml01\AppData\Local\Programs\Python\Python310\lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <fastCgi>
      <application fullPath="C:\Users\viaml01\AppData\Local\Programs\Python\Python310\python.exe"
                   arguments="C:\Users\viaml01\AppData\Local\Programs\Python\Python310\lib\site-packages\wfastcgi.py">
        <environmentVariables>
          <environmentVariable name="GITHUB_TOKEN"
          value="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" />
        </environmentVariables>
      </application>
    </fastCgi>

    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>

  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\RMS\RMS" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\RMS\RMS\app.log" />
  </appSettings>
</configuration>