{% extends 'home.html' %}
{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-5">
        <div class="card shadow ml-2 mb-2" >
            <div class="card-header">
                <h4 style="color: #051729;text-align: center;"><strong>Automation Improvements</strong></h4>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrc" class="btn btn-info btn-block" style="background-color: #002369;border-color:#002369;color: white;font-size: 18px">See All</a>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrc0" class="btn btn-success btn-block " style="background-color: #90b114;border-color:#90b114;color: white;font-size: 18px">2 New </a>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrcclose" class="btn btn-info btn-block" style="background-color: #007dc3;border-color:#007dc3;color: white;font-size: 18px">History </a>
                    </div>
                </div>
                <table class="table table-sm ">
                    <thead>
                        <tr>
                            <th scope="col">Priority</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Level 4</th>
                            <td style="font-size: 18px;">4</td>
                            <td><a href="/allreqrc4" class="btn btn-danger btn-block" style="background-color: #c41230;border-color:#c41230;color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 3</th>
                            <td style="font-size: 18px">3</td>
                            <td><a href="/allreqrc3" class="btn btn-success btn-block" style="background-color: #f8971d;border-color:#f8971d;color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 2</th>
                            <td style="font-size: 18px">2</td>
                            <td><a href="/allreqrc2" class="btn btn-warning btn-block" style="color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 1</th>
                            <td style="font-size: 18px">1</td>
                            <td><a href="/allreqrc1" class="btn btn-success btn-block" style="background-color: #90b114;border-color:#90b114;color: white;">Go to</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <div class="col-md-5">
        <div class="card shadow ml-2"  >
            <div class="card-header">
                <h4 style="color: #051729;text-align: center;"><strong>Automation Issue</strong></h4>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrc" class="btn btn-info btn-block" style="background-color: #002369;border-color:#002369;color: white;font-size: 18px">See All</a>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrc0" class="btn btn-success btn-block " style="background-color: #90b114;border-color:#90b114;color: white;font-size: 18px">2 New </a>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrcclose" class="btn btn-info btn-block" style="background-color: #007dc3;border-color:#007dc3;color: white;font-size: 18px">History </a>
                    </div>
                </div>
                <table class="table table-sm ">
                    <thead>
                        <tr>
                            <th scope="col">Priority</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Level 4</th>
                            <td style="font-size: 18px;">4</td>
                            <td><a href="/allreqrc4" class="btn btn-danger btn-block" style="background-color: #c41230;border-color:#c41230;color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 3</th>
                            <td style="font-size: 18px">3</td>
                            <td><a href="/allreqrc3" class="btn btn-success btn-block" style="background-color: #f8971d;border-color:#f8971d;color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 2</th>
                            <td style="font-size: 18px">2</td>
                            <td><a href="/allreqrc2" class="btn btn-warning btn-block" style="color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 1</th>
                            <td style="font-size: 18px">1</td>
                            <td><a href="/allreqrc1" class="btn btn-success btn-block" style="background-color: #90b114;border-color:#90b114;color: white;">Go to</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-5">
        <div class="card shadow ml-2 mb-2"  >
            <div class="card-header">
                <h4 style="color: #051729;text-align: center;"><strong>New Apps</strong></h4>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrc" class="btn btn-info btn-block" style="background-color: #002369;border-color:#002369;color: white;font-size: 18px">See All</a>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrc0" class="btn btn-success btn-block " style="background-color: #90b114;border-color:#90b114;color: white;font-size: 18px">2 New </a>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrcclose" class="btn btn-info btn-block" style="background-color: #007dc3;border-color:#007dc3;color: white;font-size: 18px">History </a>
                    </div>
                </div>
                <table class="table table-sm ">
                    <thead>
                        <tr>
                            <th scope="col">Priority</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Level 4</th>
                            <td style="font-size: 18px;">4</td>
                            <td><a href="/allreqrc4" class="btn btn-danger btn-block" style="background-color: #c41230;border-color:#c41230;color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 3</th>
                            <td style="font-size: 18px">3</td>
                            <td><a href="/allreqrc3" class="btn btn-success btn-block" style="background-color: #f8971d;border-color:#f8971d;color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 2</th>
                            <td style="font-size: 18px">2</td>
                            <td><a href="/allreqrc2" class="btn btn-warning btn-block" style="color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 1</th>
                            <td style="font-size: 18px">1</td>
                            <td><a href="/allreqrc1" class="btn btn-success btn-block" style="background-color: #90b114;border-color:#90b114;color: white;">Go to</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card shadow ml-2 mb-2"  >
            <div class="card-header">
                <h4 style="color: #051729;text-align: center;"><strong>Automation Issue</strong></h4>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrc" class="btn btn-info btn-block" style="background-color: #002369;border-color:#002369;color: white;font-size: 18px">See All</a>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrc0" class="btn btn-success btn-block " style="background-color: #90b114;border-color:#90b114;color: white;font-size: 18px">2 New </a>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <a href="/allreqrcclose" class="btn btn-info btn-block" style="background-color: #007dc3;border-color:#007dc3;color: white;font-size: 18px">History </a>
                    </div>
                </div>
                <table class="table table-sm ">
                    <thead>
                        <tr>
                            <th scope="col">Priority</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Level 4</th>
                            <td style="font-size: 18px;">4</td>
                            <td><a href="/allreqrc4" class="btn btn-danger btn-block" style="background-color: #c41230;border-color:#c41230;color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 3</th>
                            <td style="font-size: 18px">3</td>
                            <td><a href="/allreqrc3" class="btn btn-success btn-block" style="background-color: #f8971d;border-color:#f8971d;color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 2</th>
                            <td style="font-size: 18px">2</td>
                            <td><a href="/allreqrc2" class="btn btn-warning btn-block" style="color: white;">Go to</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Level 1</th>
                            <td style="font-size: 18px">1</td>
                            <td><a href="/allreqrc1" class="btn btn-success btn-block" style="background-color: #90b114;border-color:#90b114;color: white;">Go to</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}